{% extends "blog/base.html" %}
{% block content %}
    <h1 style="text-align:center" >About Us</h1>
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>Thank you for your interest in Shri Satya Sai School</h2>
            <h3>Our students are dedicated to holistic development: academic excellence as well as personal, social and moral development.</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Admissions are open to all students who exhibit a strong desire to learn in a challenging and stimulating environment. We understand that some students learn best by reading; some, through actual experience; some, through pursuing passion. At here diversity is celebrated and many paths are explored; students are guided and encouraged to find paths that are most effective for them. Through exploration and exposure to such diverse experiences, students become independent learners and thinkers as well as creative problem solvers.
            </p>
          </div>
        </div>

      </div>
    </section>
    <section id="about-list" class="about-list">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="icon-box mt-5 mt-lg-0">
              <i class="bx bx-receipt"></i>
              <h4>Mission</h4>
              <p>Building future leaders with a global vision who are socially oriented and value based world citizens ready to address core issues with empathy, honesty and sincerity.</p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-cube-alt"></i>
              <h4>Vision</h4>
              <p>To provide ethical direction and stimulus to the vast reservoir of energy within the portals of this institution, thereby enabling it to carve out creative and inspired individuals who would possess along with academic excellence the inner illumination required to dispel the darkness in the world.</p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2" style="background-image: url(&quot;https://scontent.fjdh1-1.fna.fbcdn.net/v/t1.0-9/12108279_543968275752722_3767545074053318625_n.jpg?_nc_cat=103&_nc_sid=dd9801&_nc_ohc=U6hp_vJKFV8AX9A491Z&_nc_ht=scontent.fjdh1-1.fna&oh=09a6903f3393a86c17bc946b66a5f068&oe=5EE1E1B1&quot;);"></div>
        </div>

      </div>
    </section>
{% endblock content %}
