{% extends "blog/base.html" %}
{% block content %}
     
<section style="background-color: rgba(50, 115, 220, 0.3);">
    <section id="about" class="about">
            <h1 style="text-align:center" >About Us</h1>
      <div class="container">
        <div class="row content">
          <div class="col-lg-6">
            <h2>Thank you for your interest in Shri Satya Sai School</h2>
            <h3>Our students are dedicated to holistic development: academic excellence as well as personal, social and moral development.</h3>
               </div>
              <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
              Admissions are open to all students who exhibit a strong desire to learn in a challenging and stimulating environment. We understand that some students learn best by reading; some, through actual experience; some, through pursuing passion. At here diversity is celebrated and many paths are explored; students are guided and encouraged to find paths that are most effective for them. Through exploration and exposure to such diverse experiences, students become independent learners and thinkers as well as creative problem solvers.
              </p>
          </div>
            </div>
          </div>
    </section>
    <section style="padding:0rem;">
                <div class="container">
                  <div class="row">
                            <div class="col-lg-4">
                              <div class="staff-member"><img src="https://scontent.fjdh1-1.fna.fbcdn.net/v/t1.0-9/29425330_1064389647049344_8392747261846618112_n.jpg?_nc_cat=102&_nc_sid=8bfeb9&_nc_ohc=G119hYClCGIAX_-bk5V&_nc_ht=scontent.fjdh1-1.fna&oh=5a671510b7bd7db7182bed990f856800&oe=5EF00DE8" alt="pic" width= "200" height="200">
                                <div class="info">
                                  <h3 class="h5 teacher mb-0">Mr. Vikash Kachhawaha</h3><span>Managing Director</span>
                                </div>
                                <div class="overlay d-flex align-items-center justify-content-center">
                                  <div class="overlay-inner">
                                    <p class="teacher-quote">--</p><a href="staff-detail.html" class="teacher-name">
                                      <h3 class="h5 mb-0 teacher">Mr. Vikash Kachhawaha</h3></a><span class="teacher-field">Managing Director</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <div class="col-lg-4">
                              <div class="staff-member"><img src="https://scontent.fjdh1-1.fna.fbcdn.net/v/t1.0-9/11813430_663742597093541_1971263634198846311_n.jpg?_nc_cat=101&_nc_sid=174925&_nc_ohc=W1po7xuKPZEAX8jcE-N&_nc_ht=scontent.fjdh1-1.fna&oh=936bf5d1f719891d69d42d6fc3375f37&oe=5EEFFC7F" alt="Jo" width= "200" height="200">
                                <div class="info">
                                  <h3 class="h5 teacher mb-0">Mr. Jitendra Vyas</h3><span>Principal</span>
                                </div>
                                <div class="overlay d-flex align-items-center justify-content-center">
                                  <div class="overlay-inner">
                                    <p class="teacher-quote">--</p><a href="staff-detail.html" class="teacher-name">
                                      <h3 class="h5 mb-0 teacher">Mr. Jitendra Vyas</h3></a><span class="teacher-field">Principal</span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="col-lg-4">
                              <div class="staff-member"><img src="https://scontent.fjdh1-1.fna.fbcdn.net/v/t1.0-9/56470416_869486933388328_3762334765101875200_n.jpg?_nc_cat=102&_nc_sid=8bfeb9&_nc_ohc=wZDa_5pnr5EAX9uxls0&_nc_ht=scontent.fjdh1-1.fna&oh=709d13eb7272d896dc1b37132d25a9a8&oe=5EEF74C9" alt="pic" width= "200" height="200">
                                <div class="info">
                                  <h3 class="h5 teacher mb-0">Rachna Kachhawaha</h3><span>Executive Director</span>
                                </div>
                                <div class="overlay d-flex align-items-center justify-content-center">
                                  <div class="overlay-inner">
                                    <p class="teacher-quote">--</p><a href="staff-detail.html" class="teacher-name">
                                      <h3 class="h5 mb-0 teacher">Rachana Kachhawaha</h3></a><span class="teacher-field">Executive Director</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                  </div>
                 </div> 
    </section>
    
    <section >
      <div class="container ">

        <div class="row">
          <div class="col-lg-12 order-2 order-md-1">
            <div class="icon-box mt-5 mt-lg-0">
              <i class="bx bx-receipt"></i>
              <h4>Mission</h4>
              <p>Building future leaders with a global vision who are socially oriented and value based world citizens ready to address core issues with empathy, honesty and sincerity.</p>
            </div>
            <div class="icon-box ">
              <i class="bx bx-cube-alt"></i>
              <h4>Vision</h4>
              <p>To provide ethical direction and stimulus to the vast reservoir of energy within the portals of this institution, thereby enabling it to carve out creative and inspired individuals who would possess along with academic excellence the inner illumination required to dispel the darkness in the world.</p>
            </div>
          </div>
        </div>
        <div > <img src="https://scontent.fjdh1-1.fna.fbcdn.net/v/t1.0-9/55882130_869486113388410_4079941519262351360_n.jpg?_nc_cat=102&_nc_sid=8bfeb9&_nc_ohc=Yi0Udi-CaokAX8ahIiq&_nc_ht=scontent.fjdh1-1.fna&oh=c7370db46ca3abe0946206c4fb83ef92&oe=5EED3D5C" class="img-fluid" alt="Responsive image" style="max-width: 100%;height: 400px; width:100%;"">
    </div>
      </div>
    </section>
  </section>
{% endblock content %}
