{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <section class="hero hero-home">
      <div class="swiper-container hero-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div style="background: url(media/School.jpg);" class="hero-content has-overlay-dark">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8">
                    <h1>Welcome to <span>Our school</span></h1>
                    <p class="hero-text pr-5">A school is an educational institution designed to provide learning spaces and learning environments for the teaching of students (or "pupils") under the direction of teachers.</p>
                    <div class="CTAs"><a href="{% url 'contact' %}" class="btn btn-primary">Get Admission</a><a href="{% url 'blog-about' %}" class="btn btn-outline-light">Read more</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Add Pagination-->
        <div class="swiper-pagination"></div>
      </div>
      </div>
    </section>
    
    <!-- Info Boxes Section-->
    <section class="info-boxes">
      <div class="container">
        <div class="row"><a href="#" style="background:url(media/boxes.jpeg);" class="info-box cyan col-lg-4">
            <div class="info-box-content">
              <h3 class="text-uppercase">Education</h3>
              <p>With essentional education knowledge about sacraments also given.</p>
            </div></a><a href="#" style="background: url(media/boxes.jpeg);" class="info-box orange col-lg-4">
            <div class="info-box-content">
              <h3 class="text-uppercase">Features</h3>
              <p>Smart and high quality education standard under the guidence of expert faculty.</p>
            </div></a><a href="#" style="background: url(media/boxes.jpeg);" class="info-box red col-lg-4">
            <div class="info-box-content">
              <h3 class="text-uppercase">Certification</h3>
              <p>From playgroup to tenth RBSE board. Arts, Commerce streams in class 11<sup>th</sup> and 12<sup>th</sup> .</p>
            </div></a>
          </div>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container-fluid text-center" style="background-color:#ef5285; color:white; padding-bottom:2px; ">
        <header>
          <h2>Baba's Blessings</h2>
        </header>
        <div class="signature mx-auto"><img src="{% static 'sai.png' %}" alt="..." class="img-fluid"></div>
        <div class="row">
          <p class="col-lg-8 mx-auto">“No bird casts the seed on land to grow food for itself, nor do beasts plough and enclose fields claiming - this is mine, this is for my children and children's children.”</p>
        </div>
        <div class="author"><h4><strong>Satya Sai</strong></h4></div>
      </div>
    </section>

    <!-- blog section -->
    <section class="blog bg-gray"> 
          <div class="container">
            <header class="text-center">
              <h2> <small>From the blog</small>Recent Posts</h2>
            </header>
            <div class="row">
                  {% for post in posts %}      
                  <div class="col-lg-4">
                    <div class="blog-post">
                      <div class="image"><img src="{% static 'blog-img.jpg' %}" alt="Subject">
                        <div class="overlay align-items-center justify-content-center"><a href="{% url 'post-detail' post.id %}" class="btn btn-outline-light">Read more</a></div>
                      </div>
                        <div class="author"><img src="{{ post.author.profile.image.url }}" alt="author" class="img-fluid"></div>
                        <div class="text"><a href="{% url 'post-detail' post.id %}">
                        <h4 class="text-this">{{ post.title }}</h4></a>
                        <h5 class="text-this" >Class -{{ post.class_name }}</h5>
                        <ul class="post-meta list-inline">
                          <li class="list-inline-item"><i class="icon-clock-1"></i> {{ post.date_posted|date:"F d, Y" }}</li>
                          <li class="list-inline-item"><i class="icon-chat"></i><a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</li>
                        </ul>
                        <p>{{ post.content }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %} 
            <div class="container">
            <div class = "row">
              <div class="col-lg-12">   
              {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
          </div>
        </div>
      </div>
    </section>
    
       <!-- Statistics Section-->
    <section class="statistics pt-0 pb-0 bg-primary has-pattern">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="item col-lg-3 col-md-6"><strong>1995</strong>
            <p>Year Found</p>
          </div>
          <div class="item col-lg-3 col-md-6"><strong>537</strong>
            <p>No. of Students</p>
          </div>
          <div class="item col-lg-3 col-md-6"><strong>99.657</strong>
            <p>Average board result</p>
          </div>
          <div class="item col-lg-3 col-md-6"><strong>23</strong>
            <p>Awards Winner</p>
          </div>
        </div>
      </div>
    </section>
        <!-- events sections -->
       <section class="events">
          <div class="container">
            <header class="text-center">
              <h2> <small>All About events updates</small>Events & Gallery</h2>
              <div class="row text-center">
                <p class="col-lg-8 mx-auto">Here are some news about various events in our school. </p>
              </div>
            </header>
                        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                              aria-selected="true">Events</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                              aria-selected="false">Gallery</a>
                          </li>
                        </ul> 
                        <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active text-center" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D1182527528750932%26id%3D100009810876573&show_text=false&width=552&height=634&appId" width="552" height="634" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                          </div>
                          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                 <!--Carousel Wrapper-->
                                <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                                  <!--Indicators-->
                                  <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-2" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-2" data-slide-to="2"></li>
                                  </ol>
                                  <!--/.Indicators-->
                                  <!--Slides-->
                                  <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                      <div class="view">
                                        <img class="d-block w-100" src="https://scontent.fjdh1-1.fna.fbcdn.net/v/t1.0-9/10403719_344750415674510_3701584409932426170_n.jpg?_nc_cat=104&_nc_sid=43edb5&_nc_ohc=ZYLm8qnc_oMAX_C71X4&_nc_ht=scontent.fjdh1-1.fna&oh=86e4997376469713ea9a0b52dfb4d3ec&oe=5EEE640F" alt="sairam">
                                        <div class="mask rgba-black-light"></div>
                                      </div>
                                      <div class="carousel-caption">
                                        <h3 class="h3-responsive"></h3>
                                      </div>
                                    </div>
                                    <div class="carousel-item">
                                      <!--Mask color-->
                                      <div class="view">
                                        <img class="d-block w-100" src="https://scontent.fjdh1-1.fna.fbcdn.net/v/t1.0-9/68326290_946847918985562_2013542266785759232_n.jpg?_nc_cat=111&_nc_sid=8bfeb9&_nc_ohc=Oru7B_7bQU0AX_Muqwy&_nc_ht=scontent.fjdh1-1.fna&oh=c5c212ad3de5a6870608e73ad09d4639&oe=5EEF17FF" alt="sairam">
                                        <div class="mask rgba-black-light"></div>
                                      </div>
                                      <div class="carousel-caption">
                                        <h3 class="h3-responsive"> </h3>
                                      </div>
                                    </div>
                                    <div class="carousel-item">
                                      <!--Mask color-->
                                      <div class="view">
                                        <img class="d-block w-100" src="https://scontent.fjdh1-1.fna.fbcdn.net/v/t1.0-9/56474590_869486296721725_1741603985782996992_n.jpg?_nc_cat=107&_nc_sid=8bfeb9&_nc_ohc=ktxo3DDFMskAX-9miTW&_nc_ht=scontent.fjdh1-1.fna&oh=941688e830cf90cf5b347839f232917f&oe=5EEC8D1C" alt="sairam">
                                        <div class="mask rgba-black-light"></div>
                                      </div>
                                      <div class="carousel-caption">
                                        <h3 class="h3-responsive"></h3>
                                      </div>
                                    </div>
                                  </div>
                                  <!--/.Slides-->
                                  <!--Controls-->
                                  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                  <!--/.Controls-->
                                </div>
                                <!--/.Carousel Wrapper-->
                          </div>

                        </div>  
      </section>

        







         <!-- Divider Section-->
    <section style="background: url(media/divider-bg.jpg) fixed;" class="divider has-overlay-darker">
      <div class="container">
        <h2>Director Sir Guidence for teachers</h2>
        <div class="row">
          <div class="col-md-4">
                <p class="text-center"><img src="" alt="Sir Pic" class="img-thumbnail img-fluid" width="230px" height="450px"></p>
                <p class="text-center">Narendra Kachhawaha</p>
              </div>
          <div class="col-lg-8">
              <p >1) A teacher is a great source of knowledge, prosperity and enlightenment by which anybody can be benefited.<br>2) Teachers are the gifts of god who make our career and guide us towards success. <br>3) Teachers make their students academically strong and they always encourage their students to do better in their life.</p>
              <div class="CTAs"><a href="{% url 'contact' %}" class="btn btn-primary">Apply now</a><a href="{% url 'blog-about' %}" class="btn btn-outline-light">Learn more</a></div>
          </div>
        </div>
        
      </div>
    </section>
     <!-- Testimonials Section-->
    <section class="testimonials">
      <div class="container text-center">
        <header>
          <h2> <small>Our Students' Feedbacks</small>Student Testimonials</h2>
        </header>
        <div class="swiper-container testimonials-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial">
                <div class="row">
                  <p class="feedback col-lg-8 mx-auto">I chose our School because it is the best school in Jodhpur and teachers are very kind and helpful. You meet lots of nice people and it has a great Sixth Form</p>
                </div>
                <div class="user d-flex align-items-center justify-content-center">
                  <div class="avatar"><img src="{% static 'aayush.png' %}" alt="Marco Antonio" class="img-fluid"></div>
                  <div class="title"><strong class="text-uppercase">Aayush Kachhwaha</strong><span>Grade 7</span></div>
                </div>
              </div>
            </div>
                      <!-- Add Pagination-->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
 
{% endblock content %}
    