{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <section class="hero hero-home">
      <div class="swiper-container hero-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div style="background: url(media/School.jpg);" class="hero-content has-overlay-dark">
              <div class="container">
                <div class="row">
                  <div class="col-lg-8">
                    <h1>Welcome to <span>School</span></h1>
                    <p class="hero-text pr-5">A school is an educational institution designed to provide learning spaces and learning environments for the teaching of students (or "pupils") under the direction of teachers.</p>
                    <div class="CTAs"><a href="{% url 'contact' %}" class="btn btn-primary">Get Admission</a><a href="{% url 'blog-about' %}" class="btn btn-outline-light">Read more</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
        <!-- Add Pagination-->
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container-fluid text-center" style="background-color:#ef5285; color:white; padding-bottom:2px; ">
        <header>
          <h2>Baba's Blessings</h2>
        </header>{% static 'blog/css/font.css' %}
        <div class="signature mx-auto"><img src="{% static 'sai.png' %}" alt="..." class="img-fluid"></div>
        <div class="row">
          <p class="col-lg-8 mx-auto">“No bird casts the seed on land to grow food for itself, nor do beasts plough and enclose fields claiming - this is mine, this is for my children and children's children.”</p>
        </div>
        <div class="author"><h4><strong>Satya Sai</strong></h4></div>
      </div>
    </section>

     <!-- Info Boxes Section-->
    <section class="info-boxes">
      <div class="container">
        <div class="row"><a href="#" style="background:url(media/boxes.jpeg);" class="info-box cyan col-lg-4">
            <div class="info-box-content">
              <h3 class="text-uppercase">Education</h3>
              <p>With essentional education knowledge about sacraments also given.</p>
            </div></a><a href="#" style="background: url(media/boxes.jpeg);" class="info-box orange col-lg-4">
            <div class="info-box-content">
              <h3 class="text-uppercase">Features</h3>
              <p>Smart and high quality education standard under the guidence of expert faculty.</p>
            </div></a><a href="#" style="background: url(media/boxes.jpeg);" class="info-box red col-lg-4">
            <div class="info-box-content">
              <h3 class="text-uppercase">Certification</h3>
              <p>From playgroup to tenth RBSE board. Arts, Commerce streams in class 11<sup>th</sup> and 12<sup>th</sup> .</p>
            </div></a></div>
      </div>
    </section>
    <!-- Events Section-->
    <section class="events">
      <div class="container">
        <header class="text-center">
          <h2> <small>All About events updates</small>Upcoming Events</h2>
          <div class="row text-center">
            <p class="col-lg-8 mx-auto">Here are some news about various upcomming events in our school. </p>
          </div>
        </header>
        <div class="swiper-container events-slider pb-5">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="event row align-items-center align-items-stretch">
                <div class="col-lg-6 pr-lg-0">
                  <div class="image"><img src="{% static 'addmission.jpg' %}" alt="New Addmission Started in our School">
                    <div class="overlay d-flex align-items-end">
                      <div class="date"><strong>27</strong><span>June 2020</span></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 pl-lg-0">
                  <div class="text bg-gray d-flex align-items-center">
                    <div class="text-inner">
                      <h4>New addmission Process started in our school</h4>
                      <p>Our School has announced New Addmission of class Nursery to 12th for the session 2020-2021. Contact School Administration for more information about that..</p><a href="{% url 'contact' %}" class="btn btn-outline-primary">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- Add Pagination-->
          <div class="swiper-pagination mt-5"></div>
        </div>
      </div>
    </section>
    
    <section class="blog bg-gray"> 
          <div class="container">
            <header class="text-center">
              <h2> <small>From the blog</small>Recent Posts</h2>
            </header>
            <div class="row">
                  {% for post in posts %}      
                  <div class="col-lg-4">
                    <div class="blog-post">
                      <div class="image"><img src="{% static 'blog-img.jpg' %}" alt="Subject">
                        <div class="overlay align-items-center justify-content-center"><a href="{% url 'post-detail' post.id %}" class="btn btn-outline-light">Read more</a></div>
                      </div>
                        <div class="author"><img src="{{ post.author.profile.image.url }}" alt="author" class="img-fluid"></div>
                        <div class="text"><a href="{% url 'post-detail' post.id %}">
                        <h4 class="text-this">{{ post.title }}</h4></a>
                        <h5 class="text-this" >Class -{{ post.class_name }}</h5>
                        <ul class="post-meta list-inline">
                          <li class="list-inline-item"><i class="icon-clock-1"></i> {{ post.date_posted|date:"F d, Y" }}</li>
                          <li class="list-inline-item"><i class="icon-chat"></i><a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</li>
                        </ul>
                        <p>{{ post.content }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %} 
            <div>
              {% if pasge_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
              {% if page_obj.has_next %}
                 <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                 <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Read All</a>
              {% endif %}
          </div>
    </section>
    
       <!-- Statistics Section-->
    <section class="statistics pt-0 pb-0 bg-primary has-pattern">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="item col-lg-3 col-md-6"><strong>1995</strong>
            <p>Year Found</p>
          </div>
          <div class="item col-lg-3 col-md-6"><strong>537</strong>
            <p>No. of Students</p>
          </div>
          <div class="item col-lg-3 col-md-6"><strong>99.657</strong>
            <p>Average board result</p>
          </div>
          <div class="item col-lg-3 col-md-6"><strong>23</strong>
            <p>Awards Winner</p>
          </div>
        </div>
      </div>
    </section>
     <!-- Testimonials Section-->
    <section class="testimonials">
      <div class="container text-center">
        <header>
          <h2> <small>Our Students' Feedbacks</small>Student Testimonials</h2>
        </header>
        <div class="swiper-container testimonials-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial">
                <div class="row">
                  <p class="feedback col-lg-8 mx-auto">I chose our School because it is the best school in Jodhpur and teachers are very kind and helpful. You meet lots of nice people and it has a great Sixth Form</p>
                </div>
                <div class="user d-flex align-items-center justify-content-center">
                  <div class="avatar"><img src="{% static 'aayush.png' %}" alt="Marco Antonio" class="img-fluid"></div>
                  <div class="title"><strong class="text-uppercase">Aayush Kachhwaha</strong><span>Grade 7</span></div>
                </div>
              </div>
            </div>
                      <!-- Add Pagination-->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>
     <!-- Divider Section-->
    <section style="background: url(media/divider-bg.jpg) fixed;" class="divider has-overlay-darker">
      <div class="container">
        <h2>Become a teacher</h2>
        <div class="row">
          <p class="col-lg-8">1) A teacher is a great source of knowledge, prosperity and enlightenment by which anybody can be benefited.<br>2) Teachers are the gifts of god who make our career and guide us towards success. <br>3) Teachers make their students academically strong and they always encourage their students to do better in their life.</p>
        </div>
        <div class="CTAs"><a href="{% url 'contact' %}" class="btn btn-primary">Apply now</a><a href="{% url 'blog-about' %}" class="btn btn-outline-light">Learn more</a></div>
      </div>
    </section> 
{% endblock content %}
    
