{% extends "blog/base.html" %}
{% load static %}
{% block content %}

 


    <!-- blog section -->
    <section class="blog bg-gray"> 
          <div class="container">
            <header class="text-center">
              <h2> <small>From the blog</small>Recent Posts</h2>
              <form action="{% url 'search_results' %}" method="get">
                <input name="q" type="text" placeholder="Search...">
              </form>
            </header>
            <div class="row">
                  {% for post in posts %}      
                  <div class="col-lg-6">
                    <div class="blog-post">
                      <div class="image">
                        <img src="{{ post.image.url }}" alt="Subject" class="image" style="height: 200px;">
                        <div class="overlay align-items-center justify-content-center"><a href="{% url 'post-detail' post.id %}" class="btn btn-outline-light">Read more</a></div>
                      </div>
                        <div class="author"><img src="{{ post.author.profile.image.url }}" alt="author" class="img-fluid"></div>
                        <div class="text"><a href="{% url 'post-detail' post.id %}">
                        <h4 class="text-this">{{ post.title }}</h4></a>
                        <h5 class="text-this" >Class -{{ post.class_name }}</h5>
                        <ul class="post-meta list-inline">
                          <li class="list-inline-item"><i class="icon-clock-1"></i> {{ post.date_posted|date:"F d, Y" }}</li>
                          <li class="list-inline-item"><i class="icon-chat"></i><a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></li>
                        </ul>
                        <p>{{ post.content|truncatewords_html:75|safe }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div> 
            <div class="container">
            <div class = "row">
              <div class="col-lg-12">   
              {% if is_paginated %}

                {% if page_obj.has_previous %}
                  <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                  {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}

              {% endif %}
                    </div>
                  </div>
                </div>
    </section>
    
   
{% endblock content %}
    